image: gitlab.wethinkco.de:5050/mxomagub021/gerald_lawson:test-environment

stages:          # List of stages for jobs, and their order of execution
  - build
  - test
  - deploy

variables:
  MAVEN_CLI_OPTS: " --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

cache:
  paths:
    - .m2/repository/

build-job:       # This job runs in the build stage, which runs first.
  stage: build
  script:
    - mvn verify -DskipTests
    - echo "Compiling the code..."
    - mvn $MAVEN_CLI_OPTS compile

unit-test-job:   # This job runs in the test stage.
  stage: test    # It only starts when the job in the build stage completes successfully.
  script:
    - echo "Running unit tests.."
    - mvn $MAVEN_CLI_OPTS test -pl SocketServer -pl SocketClient

acceptance-test-job:
  stage: test
  script:
    - echo "Running acceptance tests..."
    - ./test_script.sh

deploy-job:      # This job runs in the deploy stage.
  stage: deploy  # It only runs when *both* jobs in the test stage complete successfully.
  environment: staging
  script:
    - echo "Deploying application..."
    - mvn $MAVEN_CLI_OPTS clean $MAVEN_OPTS
    - mvn $MAVEN_CLI_OPTS package $MAVEN_OPTS -DskipTests