image: maven:latest

stages:          # List of stages for jobs, and their order of execution
  - build
  - test
  - deploy

default:
  tags: 
    - maven

variables:
  MAVEN_CLI_OPTS: " --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

cache:
  paths:
    - .m2/repository/

build-job:       # This job runs in the build stage, which runs first.
  stage: build
  script:
    - mvn verify -DskipTests
    - echo "Compiling the code..."
    - mvn $MAVEN_CLI_OPTS compile

unit-test-job:   # This job runs in the test stage.
  stage: test    # It only starts when the job in the build stage completes successfully.
  script:
    - echo "Running unit tests..."
    - mvn $MAVEN_CLI_OPTS test -pl SocketServer -pl SocketClient

world1x1-test-job:
  environment: testing
  stage: test
  script:
    - mvn -B clean install
    - echo "Running acceptance tests for 1x1 world..."
    - mvn $MAVEN_CLI_OPTS exec:java
    - mvn test -Dtest="world1x1.AcceptanceTests*" -pl ReferenceSocketClient

world2x2-test-job:
  stage: test
  script:
    - echo "Running acceptance tests for 2x2 world..."
    - mvn $MAVEN_CLI_OPTS exec:java -Dexec.args="-s 2" & mvn $MAVEN_CLI_OPTS test -Dtest="world2x2.AcceptanceTests*" -pl ReferenceSocketClient

world2x2obs[1,1]-test-job:
  stage: test
  script:
    - echo "Running acceptance tests for 2x2 world with an obstacle at [1,1]..."
    - mvn $MAVEN_CLI_OPTS exec:java -Dexec.args="-s 2 -o 1,1" & mvn $MAVEN_CLI_OPTS test -Dtest="obstacle1_1.AcceptanceTests*"  -pl ReferenceSocketClient

world2x2obs[0,1]-test-job:
  stage: test
  script:
    - echo "Running acceptance tests for 2x2 world with an obstacle at [0,1]..."
    - mvn $MAVEN_CLI_OPTS exec:java -Dexec.args="-s 2 -o 0,1" & mvn $MAVEN_CLI_OPTS test -Dtest="obstacle0_1.AcceptanceTests*"  -pl ReferenceSocketClient


deploy-job:      # This job runs in the deploy stage.
  stage: deploy  # It only runs when *both* jobs in the test stage complete successfully.
  environment: staging
  script:
    - echo "Deploying application..."
    - mvn $MAVEN_CLI_OPTS clean $MAVEN_OPTS
    - mvn $MAVEN_CLI_OPTS package $MAVEN_OPTS -DskipTests